.aside {
    &__navbar {
        position: fixed;
        top: 0;
        width: 70vw;
        height: 100vh;
        padding: 16px;
        background-color: #ddd;
        overflow-y: scroll;
        z-index: 30;
    }

    &__logo {
        img {
            width: 50%;
        }
    }

    &__menu {
        ul {
            margin-top: 50px;
            margin-left: 12px;
            & > * {
                margin: 20px 0;
            }

            li {
                font-size: 25px;
                color: #899190;
                line-height:40px;
            }
        }
    }
}