.aside {
    display: none !important;
    @include mobile() {
        display: block !important;
    }
    &__navbar {
        position: fixed;
        top: 0;
        width: 70vw;
        height: 100vh;
        padding: 16px;
        background-color: #ddd;
        overflow-y: scroll;
        z-index: 30;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: all 0.5s ease;
        &.active {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 25;
        display: none;
        &.active {
            display: block;
        }
    }

    &__logo {
        img {
            width: 50%;
        }
    }

    &__menu {
        ul {
            margin-top: 50px;
            margin-left: 12px;
            & > * {
                margin: 20px 0;
            }

            li {
                font-size: 25px;
                color: #899190;
                line-height:40px;
            }
        }
    }
}