.home {
    padding: $header_height;
    @include flex(center, space-between);
    flex-direction: row-reverse;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    @include mobile() {
        flex-direction: column;
        padding: $header_height 0;
    }
    @include tablet() {
        padding:70px 0;
        min-height: 50vh;
        background-attachment: inherit;
    }
    &__info {
        position: relative;
        top: -10px;
        padding: 20px;
        border-radius: 3px;
        @include mobile() {
            margin-bottom: 90px;

        }
        &__link {
            @include flex(center, space-between);
            margin-top:10px;
        }
        &__social {
            height: 80px;
            @include flex(center, space-between);
            div{
                display: flex;
                height: 60px;
                width: 190px;
            }
            a {
                display: flex;
                margin: auto;
                width: 40px;
                height: 40px;
                cursor: pointer;
                background-color:#83f183;
                border-radius:50%;
                transition: all 0.2s ease;
                // transform: translate(-50%);
               
            }

            a:hover {
                height: 60px;
                width: 60px;
                img {
                    width: 40px;
                }
            }
            a img{
                width: 30px;
                text-align: center;
                margin: auto;
                transition: all 0.2s ease;

            }
        } 

        &__description {
            & > * {
                margin-bottom: 10px;
            }
            p {
                background-color: $main_color;
                color: white;
                width: 30%;
                text-align: center;
                padding: 5px;
                border-radius: 1000px 1000px 1000px 0;
                @include mobile() {
                    width: 40%;
                }
            }

            h1 {
                font-size:45px;
                color: #26d6cf;
                @include mobile() {
                    font-size:32px;
                }
            }

            h3 {
                color: #037aef;
                font-size: 25px;
                font-weight: 400;
                span {
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
    }

    &__avatar {
        position: relative;
        top: -65px;
        @include mobile() {
            top: -5px;
        }
        @include tablet() {
            top: -5px;
        }
        &__item {
            width:360px;
            height:360px;
            background-size: cover;
            border-radius:50%;
            margin: auto;
            @include mobile() {
                width: 260px;
                height: 260px;
            }
            @include tablet() {
                width: 260px;
                height: 260px;
            }
        }

        &__frames {
            display: flex;
            width: 488px;
            height: 480px;
            display: flex;
            background-size: cover;
            @include mobile() {
                width: 356px;
                height: 350px;
            }
            @include tablet() {
                width: 356px;
                height: 350px;
            }
        }
    }

}

.carpet {
    display: none;
    position: absolute;
    width: 85%;
    height:600px;
    background-color: #202746;
    @include mobile() {
        display: block;
        border: 7px solid white;
        padding: 20px;
        background-color: #202746;
        border-radius: 3px;
    }
}