@mixin flex($align_item, $justify_content) {
    display: flex;
    display: -webkit-flex;
    align-items: $align_item;
    justify-content: $justify_content;
    -webkit-justify-content:$justify_content;
    -webkit-align-items: $align_item;
}

@mixin mobile() {
    @media only screen and (max-width: 739px) {
        @content;
    }
}

@mixin tablet() {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
