.space {
    position: relative;
    background: no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
    @include mobile() {
        padding: 80px 0;
        background-position: inherit;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0,0,0,.7);
    }
    &__text {
        position: relative;
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 400;
            @include mobile() {
                font-size:20px;
            }
        }
    }
}